@media screen and (max-width:1080px){
.header{
    background-image: url(img/pict/coffee_shop_3.jpg);
    background-size: cover;
    background-position: center;
}

.item-img3{
    background-image: url(img/pict/coffee_2.jpg);
    background-position: center;
}
.item-img2{
    background-image: url(img/pict/coffee_1.jpg);
} 
.item-img1{
    background-image: url(img/pict/coffee1_cover.jpg);
    background-position: center;
} 

.item-img4{
    background-image: url(img/pict/coffee_3.jpg);
    background-position: center;
} 
}